body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: inline-block;
  width: 800px;
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  /* margin-left: calc((100% - 800px) / 2); */
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
}

.main-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}

/* --------   main   ----------- */

.left-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right-column {
  width: 57%;
}

.title {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 0.9;

  &::after {
    position: absolute;
    left: 0;
    bottom: -16px;
    content: '';
    width: 100px;
    height: 4px;
    background-color: #694e95;
    border-radius: 2px;
  }

  & > span {
    display: block;
    color: gray;
    font-weight: 100;
  }
}

.descr {
  font-size: 14px;
  line-height: 1.4;
  color: grey;
}

.button-wrap {
  display: flex;
  gap: 20px;
}

.button {
  display: inline-block;
  padding: 0.6em 1.9em;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #694e95;
  border: 2px solid #694e95;
  border-radius: 1.4em;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: white;
    color: #694e95;
  }
}

/* -------   footer   ---------- */
.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 20px;
}

.soc-link {
  display: block;
  color: gray;
  text-decoration: none;
  line-height: 1em;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #694e95;
    transform: scale(1.2);
  }
}

.copyrights {
  color: grey;
  font-size: 16px;
}
