body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
  box-sizing: border-box;
}

header,
main,
footer {
  display: inline-block;
  width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: calc((100% - 800px) / 2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 30px;
}

header > nav {
  display: flex;
  gap: 20px;
}

header > nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}
main {
  background-color: lightgoldenrodyellow;
}

footer {
  background-color: lightpink;
}
